body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 253, 253);
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgb(152, 152, 152);
}
tr:nth-child(even) {
    background-color: #f9f6f6;
}
tr:nth-child(odd) {
    background-color: #f3f0f0;
}

.table-head {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid black;
    /* color: white; */
}
.card-row {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.pagination {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.pagination li {
    display: inline;
    margin-right: 5px;
}
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    color: #333;
    background-color: #eee;
    border-radius: 5px;
}
.pagination li a:active {
    color: rgb(255, 255, 255);
    background-color: #333;
}
.pagination li a:hover {
    background-color: #ddd;
}
.pagination .disabled {
    color: #999;
}

.search-bar {
    display: flex;
    flex-wrap: wrap; /* Allows form groups to wrap to next line on smaller screens */
    justify-content: space-around; /* Adjusts spacing between form groups */
    align-items: flex-start; /* Aligns items to the start of the cross axis */
    padding: 0px 5px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Stacks label and input vertically */
    margin: 5px;
    margin-bottom: 10px;
}

input {
    border: 2px solid black;
}
#submit {
    background-color: rgb(52, 77, 234);
    border-radius: 10px;
    color: white;
    margin-bottom: 0px;
}

#results {
    font-size: 40px;
    position: relative;
    margin-bottom: 30px;
}

#results::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 38%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}
