{% extends "base.html" %} {% block title %}Search Games{% endblock %} {% block content
    %}
<html>

<link
      rel="stylesheet"
      href="{{url_for('lines.static', filename='games.css')}}">
<head>
    <title>Search Games</title>
</head>
<body>
    
    <h1>Search Games</h1>

    <form method="post" action="{{ url_for('lines.call_insert_scores') }}">
        <input type="submit" value="Fetch new data">
    </form>
    <br>

    <form method="get" action="{{ url_for('lines.search_games') }}">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    
        <label for="team1">Team 1:</label>
        <input type="text" id="team1" name="team1">
    
        <label for="team2">Team 2:</label>
        <input type="text" id="team2" name="team2">
    
        <label for="sport_title">Sport:</label>
        <input type="text" id="sport_title" name="sport_title">

        <input type="checkbox" id="live" name="live" value="live">
        <label for="live">Live</label>
    
        <input type="submit" value="Search">
    </form>
    

    {% if games %}
    <h2>Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Sport</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Score</th>
                    <th>Start Time</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination %}
                    <ul class='pagination'>
                        {% for page_num in pagination.iter_pages() %}
                            {% if page_num %}
                                {% if page_num != pagination.page %}
                                <li><a href="{{ url_for('lines.search_games', page=page_num, date=request.args.get('date'), team1=request.args.get('team1'), team2=request.args.get('team2'), sport_title=request.args.get('sport_title')) }}">{{ page_num }}</a></li>
                                {% else %}
                                    <li class='active'>{{ page_num }}</li>
                                {% endif %}
                            {% else %}
                                <li class='disabled'>...</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for game in games %}
                <tr>
                    <td>{{ game.sport_title }}</td>
                    <td>{{ game.home_team }}</td>
                    <td>{{ game.away_team }}</td>
                    {% if game.home_team_score %}
                    <td>{{ game.home_team_score }} - {{ game.away_team_score }}</td>
                    {% else %} 
                    <td ></td>
                    {%endif%}
                    <td>{{ game.commence_time_display }}</td>
                    <td>{{ game.last_update_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
{% endblock %}
