{% extends "base.html" %} 
{% block title %}Search Odds{% endblock %} 
{% block content %}
<html>
    <link
      rel="stylesheet"
      href="{{url_for('lines.static', filename='odds.css')}}">
<head>
    <title>Search Odds</title>
</head>
<body>
    
    <h1>Search Odds</h1>
    <form method="get" action="{{ url_for('lines.odds') }}">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    
        <label for="team1">Team 1:</label>
        <input type="text" id="team1" name="team1">
    
        <label for="team2">Team 2:</label>
        <input type="text" id="team2" name="team2">
    
        <label for="bookmaker">Bookmaker:</label>
        <input type="text" id="bookmaker" name="bookmaker">

        <input type="checkbox" id="live" name="live" value="live">
        <label for="live">Live</label>
    
        <input type="submit" value="Search">
    </form>

    {% if odds %}
        <h2>Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Bookmaker</th>
                    <th>Home Odds</th>
                    <th>Away Odds</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                {% if pagination %}
                    <ul class='pagination'>
                        {% for page_num in pagination.iter_pages() %}
                            {% if page_num %}
                                {% if page_num != pagination.page %}
                                <li><a href="{{ url_for('lines.odds', page=page_num, date=request.args.get('date'), team1=request.args.get('team1'), team2=request.args.get('team2'), bookmaker=request.args.get('bookmaker'), live=request.args.get('live')) }}">{{ page_num }}</a></li>
                                {% else %}
                                    <li class='active'>{{ page_num }}</li>
                                {% endif %}
                            {% else %}
                                <li class='disabled'>...</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for odd in odds %}
                <tr>
                    <td>{{ odd.game.home_team }}</td>
                    <td>{{ odd.game.away_team }}</td>
                    <td>{{ odd.bookmaker.title }}</td>
                    <td>{{ odd.home_team_odds_display }}</td>
                    <td>{{ odd.away_team_odds_display }}</td>
                    <td>{{ odd.last_update_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No odds found.</p>
    {% endif %}
</body>
</html>
{% endblock %}
