body {
  /* -moz-transform: scale(0.8, 0.8);  */
  zoom: 0.8; 
  zoom: 80%; 
}

.page-title {
  color: White;
}

.search-user-error {
  display: none;
  color: red;
  margin-top: 5px;
}

.search-user-error-show {
  display: block;
}

.navbar {
  background-image: linear-gradient(black, rgba(68, 66, 66, 0.672));
}
